:root {
  --slate: #718f94;
  --green: #5b7b7a;
  --dark: #2d3047;
  --red: #d85461;
  --blush: #f5efed;
  --stone: #d9d9d9;
  --white: #ffffff;
  --rose: #d4b9b0;
  --gradient: linear-gradient(180deg, var(--slate) 0%, var(--dark) 100%);
  --base-size: 1rem;
  --scale: 1.25;
  --h6: calc(var(--base-size) * var(--scale));
  --h5: calc(var(--h6) * var(--scale));
  --h4: calc(var(--h5) * var(--scale));
  --h3: calc(var(--h4) * var(--scale));
  --h2: calc(var(--h3) * var(--scale));
  --h1: calc(var(--h2) * var(--scale));
  --sans-serif: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

html {
  box-sizing: border-box;
  font-size: 100%; /*16px*/
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: var(--gradient) no-repeat fixed;
  font-weight: 400;
  line-height: 1.6;
  font-family: var(--sans-serif);
  font-size: var(--base-size);
  padding: 0;
  margin: 0;
}
img {
  width: 100%;
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: var(--sans-serif);
  font-weight: 400;
  line-height: 1.15;
}
.main {
  margin: auto;
  max-height: 751px;
  max-width: 500px;
}
header {
  text-align: center;
  color: var(--blush);
}

.footer {
  color: var(--blush);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.social-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: auto;
}

.social-icon {
  font-size: 4rem;
  color: var(--blush);
}
a:hover {
  color: var(--rose);
}
